<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="manage">
<!--
    <select id="selectDatbase" parameterType="long" resultType="UserDatabaseDTO">
        SELECT
            *
        FROM
            USERDATABASE
        WHERE
            DB_CD = #{dbCd}
    </select>

    <update id="updateDBname" parameterType="hashmap">
        UPDATE
            USERDATABASE
        SET
            DB_NAME = #{name}
        WHERE
            DB_CD = #{dbCd}

    </update>

    <select id="selectDataList" parameterType="long" resultType="DataDTO">
        SELECT
            UT.DB_CD,
            UT.TABLE_CD,
            UT.TABLE_NAME,
            TA.ATTR_CD,
            TA.ATTR_TYPE,
            TA.ATTR_NAME,
            AD.LOW_CD,
            AD.DATA_CD,
            AD.DATA_INFO
        FROM
            USERTABLE UT
        INNER JOIN TBATTR TA
                ON UT.TABLE_CD = TA.TABLE_CD
        INNER JOIN ATTRDATA AD
                ON TA.ATTR_CD = AD.ATTR_CD
        WHERE DB_CD = #{dbCd}

    </select>
-->
</mapper>