<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.appletantam.yesql_back.auth.dto.UserDTO" 		            alias="UserDTO"/>
        <typeAlias type="com.appletantam.yesql_back.manage.dto.UserDatabaseDTO" 		alias="UserDatabaseDTO"/>
        <typeAlias type="com.appletantam.yesql_back.manage.dto.UserTableDTO" 		    alias="UserTableDTO"/>
        <typeAlias type="com.appletantam.yesql_back.manage.dto.TbAttrDTO" 		        alias="TbAttrDTO"/>
        <typeAlias type="com.appletantam.yesql_back.manage.dto.AttrDataDTO" 		    alias="AttrDataDTO"/>
        <typeAlias type="com.appletantam.yesql_back.manage.dto.DataDTO" 		        alias="DataDTO"/>
    </typeAliases>
</configuration>